<script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
<script>
    console.log('cliente bla bla')
    const socket = io();

    socket.on('products', (products) => {
        console.log({ products })

        const productListHTML = products.map( product => `
            <tr>
                <td>${product.id}</td>
                <td>${product.title}</td>
                <td>${product.price}</td>
                <td><img style="height: 100px" src="${product.thumbnail}" alt=""></td>
            </tr>
        `).join('');
        const productList = document.getElementById('productList');
        productList.innerHTML = productListHTML;

        /* CHAT */
        const btnMensaje = document.getElementById('btn-submit-mensaje');
        btnMensaje.addEventListener('click', (evt) => {
            evt.preventDefault();
            const email = document.getElementById('input-email').value;
            const mensaje = document.getElementById('input-mensaje').value;
            
            if (email !== '' && mensaje !== '') {
            
                socket.emit('nuevoMensaje', {
                    "email" : email,
                    "message" : mensaje,
                    "date" : new Date().toLocaleString()
                })
            }            
        })

    })
        
        socket.on('listaMensajesBienvenida', (messages) => {
            console.log(messages);
            const mensajesListHTML = messages.map( message => `
            <small style="display:block"> - <em style="color:brown">[${message.date}]</em> <strong style="color:blue">${message.email}</strong>: <i style="color:green">${message.message}</i></small>
        `).join('');
        const mensajeList = document.getElementById('historial-mensajes');
        mensajeList.innerHTML = mensajesListHTML;
        })        

</script>;